.wrapper-navbar {
	position: fixed;
	height: 70px;
	z-index: 99;
	width: 100%;
}
.dark-transparant {
	background-color: rgba(0, 0, 0, 0.59);
}
.home-slider {
	.owl-item img {
		@media (max-width: 767px) {
			max-width: initial;
			width: auto;
			height: 480px;
		}
	}
}
.slider-wrapper-text {
	position: absolute;
	top: calc(100vw / 10);
	left: 10%;
	color: #fff;
	max-width: 100%;
	line-height: 1.5;
	@media (min-width: 768px) {
		max-width: 450px;
	}
	@media (min-width: 992px) {
		max-width: 719px;
	}

	.title {
		font-size: 63px;
		font-weight: 700;
		padding: 15px 10px;
		@media (max-width: 767px) {
			font-size: 30px;
		}
	}
	.caption {
		font-size: 17px;
		line-height: 28px;
		line-height: 35px;
		font-weight: 400;
		padding: 13px 10px;
		letter-spacing: 0px;
		@media (min-width: 992px) {
			font-size: 22px;
			line-height: 35px;
		}
	}
	button {
		margin-top: 37px;
		&.btn-outline-primary {
			font-size: 15px;
		}
	}
}
