.navbar {
    @media (min-width: 992px) {
        height: 70px;
    }
    .nav-link {
        padding: 15px 30px;

    }
    .navbar-mobile {
        @media (max-width:767px) {
            background-color: #000;
            margin-top: 20px;
            margin-left: -15px;
            margin-right: -15px;
        }
    }
}