.wrap-qr-code {
    .qr-code {
        border: 1px solid;
        padding: 20px;
        max-width: 340px;
    }
}

.modal-donation {
    .modal-dialog {
        &.credit-card-form-active {
            @media(min-width: 992px) {
                max-width: 800px;
            }
        }
    }
}