section {
	&.banner {
		.wrapper-banner-text {
			h3.title {
				color: $lightColor;
				font-size: 18px;
				margin-bottom: 30px;
				line-height: 1.2em;
				overflow: hidden;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				@media (min-width: 768px) {
					font-size: 18px;
					-webkit-line-clamp: 3;
				}
				@media (min-width: 1200px) {
					font-size: 30px;
					-webkit-line-clamp: 4;
					margin-bottom: 20px;
				}
				@media (min-width: 1400px) {
					font-size: 35px;
					-webkit-line-clamp: 5;
				}
			}
			position: absolute;
			top: 50%;
			right: 20%;
			transform: translate(10%, -50%);
			z-index: 1;
			@media (min-width: 992px) {
				right: 50%;
			}
		}
		.banner-overlay-holder {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
		}
	}
	&.about {
		padding-top: 70px;
		padding-bottom: 70px;
		.about-header {
			text-align: center;
			.tagline {
				color: $greyColor;
				font-size: 18px;
				line-height: 30px;
			}
		}
		.wrap-list-about {
			padding-top: 30px;
			.wrap-about-text {
				h2 {
					font-size: 22px;
					line-height: 1.364em;
					padding-top: 30px;
					padding-bottom: 30px;
				}
			}
		}
	}
	&.fullwidth-video {
		padding-top: 70px;
		padding-bottom: 70px;
		.wrap-fullwidth-text {
			@media (min-width: 768px) {
				position: absolute;
				top: 50%;
				transform: translate(0, -50%);
			}
			h2 {
				color: $lightColor;
				padding-top: 30px;
				padding-bottom: 30px;
				font-size: 18px;
				@media (min-width: 768px) {
					font-size: 18px;
				}
				@media (min-width: 992px) {
					font-size: 30px;
				}
			}
			p {
				color: $lightColor;
			}
			button {
				margin-top: 20px;
			}
		}
	}
	&.donation {
		padding-top: 70px;
		padding-bottom: 70px;
		.donation-header {
			text-align: center;
			.tagline {
				color: $greyColor;
				font-size: 18px;
				line-height: 30px;
			}
		}
		.wrap-list-donation {
			padding-top: 30px;
			.list-donation-box {
				color: inherit;	
			}
			.wrap-donation-image {
				position: relative;
				overflow: hidden;
				&:hover {
					.wrap-button-donation {
						-webkit-transform: translateY(0);
						-moz-transform: translateY(0);
						transform: translateY(0);
					}
				}
			}
			.wrap-button-donation {
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				padding: 25px;
				box-sizing: border-box;
				background-color: rgba(0,0,0,.4);
				text-align: center;
				-webkit-transform: translateY(100%);
				-moz-transform: translateY(100%);
				transform: translateY(100%);
				-webkit-transition: -webkit-transform .35s cubic-bezier(.14,.41,.58,1);
				transition: transform .35s cubic-bezier(.14,.41,.58,1);
				z-index: 10;
			}
			.wrap-donation-text {
				font-size: 14px;
				background-color: $softlightColor;
				padding: 30px 36px 44px;
				box-sizing: border-box;
				.category {
					text-transform: capitalize;
					margin-bottom: 10px;
					color: $primary;
				}
				h2 {
					font-size: 22px;
					line-height: 1.364em;
					padding-top: 5px;
					padding-bottom: 20px;
				}
				.wrap-progress-bar {
					margin-top: 30px;
					.progress {
						height: 5px;
					}
				}
			}
		}
	}
	&.fullwidth-counter {
		padding-top: 70px;
		padding-bottom: 70px;
		.wrap-counter {
			color: $lightColor;
			text-align: center;
			padding: 30px 10px;
			.count {
				font-family: "Merriweather", serif;
				font-size: 50px;
				line-height: 0.98em;
				font-weight: 700;
				margin-bottom: 16px;
			}
			.note {
				font-family: "Merriweather", serif;
				font-size: 18px;
				line-height: 1.445em;
				margin-top: 10px;
			}
		}
	}
	&.planner {
		padding-top: 70px;
		padding-bottom: 70px;
		.planner-header {
			text-align: center;
			.tagline {
				color: #888888;
				font-size: 18px;
				line-height: 30px;
			}
		}
		.wrap-planner {
			margin-top: 50px;
			.wrap-planner-text {
				margin-top: -5px;
				height: 300px;
				@media (min-width: 992px) {
					height: 415px;
				}
				.inner-text-planner {
					@media (max-width: 767px) {
						padding: 30px 20px;
					}
					@media (min-width: 1200px) {
						width: 50%;
					}
					@media (min-width: 992px) {
						width: 80%;
					}
					@media (min-width: 768px) {
						position: absolute;
						top: 50%;
						right: 50%;
						transform: translate(50%, -50%);
						width: 80%;
					}
					.wrapper-content-planner {
						margin-bottom: 15px;
					}
				}
				h2 {
					color: $lightColor;
				}
				p {
					color: $lightColor;
				}
			}
		}
	}
	&.testimoni {
		padding-top: 70px;
		padding-bottom: 70px;
		.box-testimoni-text {
			background-color: $lightColor;
			padding: 40px 30px;
			.testimoni-title {
				font-size: 18px;
				line-height: 1.445em;
			}
			.testimoni-text {
				color: $greyColor;
			}
		}
		.testimonial-arrow {
			position: absolute;
			left: 27px;
			width: 0;
			height: 0;
			border-right: 9px solid transparent;
			border-top: 15px solid #ffb422;
			border-left: 9px solid transparent;
		}
		.testimoni-author {
			margin-top: 30px;
			.wrap-testimoni-author-name {
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: 100%;
				h6 {
					font-weight: 700;
				}
				.author-from {
					font-family: Merriweather, serif;
					color: $primary;
					line-height: 30px;
				}
			}
		}
	}
	&.newsletter {
		padding-top: 70px;
		padding-bottom: 70px;
		background-color: $secondary;
		h2 {
			color: $lightColor;
		}
	}
	&.member {
		.wrap-member-list-header {
			text-align: center;
			padding-top: 70px;
			padding-bottom: 70px;
			.member-list-header-title {
				margin-bottom: 40px;
			}
			.tagline {
				margin-bottom: 30px;
			}
			.line {
				width: 50px;
				border-bottom-width: 3px;
				margin-top: 31px;
				margin-bottom: 35px;
				border-bottom: 2px solid #ffb422;
				margin: 5px auto;
			}
		}
		.wrap-member-list-content {
			.member-item-box {
				margin-bottom: 45px;
				.wrap-image {
				}
				.wrap-text {
					padding-top: 15px;
					h4.name {
						font-size: 18px;
						line-height: 1.445em;
						// margin-bottom: 0;
					}
					.position {
						margin: 0;
						color: $primary;
						font-family: "Merriweather", serif;
						font-size: 14px;
						font-weight: 700;
					}
				}
			}
		}
	}
	&.header {
		&.no-bg-header {
			.wrap-title {
				h2.title {
					color: $darkColor;
				}
			}
		}
		.wrap-title {
			display: flex;
			height: 100%;
			/* justify-content: center; */
			/* align-self: center; */
			align-items: center;
			h2.title {
				color: $lightColor;
				font-size: 25px;
			}
		}
	}
}
