article {
    .wrap-featured-iamge {
        position: relative;
        margin-bottom: 18px;
        img {
            width: 100%;
        }
        .wrap-donation-btn {
            position: absolute;
            bottom: 0;
            padding: 28px;
            width: 100%;
            background-color: rgba(0,0,0,.53);
        }
    }
    .entry-header {
        padding-top: 30px;
        h3.entry-title {
            font-size: 22px;
            line-height: 1.364em;
            margin-bottom: 23px;
        }
    }

    blockquote {
        position: relative;
        display: table;
        padding: 27px 0 27px 33px;
        border-left: 3px solid $primary;
        margin-bottom: 25px;
        p {
            display: table-cell;
            vertical-align: middle;
            font-style: italic;
            font-family: "Merriweather",serif;
            text-transform: none;
            font-size: 22px;
            line-height: 28px;
            color: #212121;
        }
    }
    .entry-content {
        // padding-top: 0;
        padding-bottom: 30px;
        p {
            margin-bottom: 25px;
        }

    }

}

.single-donasi {
    article {
        .entry-content {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .wrapper-progress {
        padding: 22px 25px 34px;
        background-color: #f6f4ee;
        .progress-persentase {
            padding: 10px 0;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
        }
        .progress {
            height: 5px;
        }
        .progress-wrap-nominal {
            padding: 10px 0;
            h6 {
                color: #888;
                display: inline-block;
            }
            span {
                color: #000;
                font-weight: 700;
                font-family: "Merriweather",serif;
            }
        }
    }
}

.single-tim {
    .wrap-featured-iamge {
        margin-bottom: 35px;
    }
    .additional-info {
        .wrap-additional-info-title {
            margin-bottom: 35px;
        }
        .wrap-additional-content {
            margin-bottom: 35px;
        }
        .wrapper-progress {
            margin-bottom: 15px;
            overflow: hidden;
            &:last-child {
                @media (min-width: 992px) {
                    margin-bottom: 40px;
                }
            }
            .progress-persentase {
                display: flex;
                justify-content: space-between;
                position: relative;
                margin: 8px 0;
                color: #888;
                h6 {
                    position: absolute;
                    -webkit-transform: translateX(-100%);
                    -moz-transform: translateX(-100%);
                    transform: translateX(-100%);
                    bottom: 0;
                }
            }
            .progress {
                height: 5px;
            }
        }
    }
    .tim-contact-detail {
        .wrap-title-contact-detail {
            margin-bottom: 50px;
        }
        h3 {
            font-size: 22px;
            line-height: 1.364em;
        }
        h5 {
            font-size: 15px;
            line-height: 1.333em;
        }
        .list-contact-item {
            margin-bottom: 10px;
        }
    }
    .wrapper-tim-gallery {
        padding:40px 0px 40px 0px;
        background-color: #F6F4EE;
        @media(min-width: 992px) {
            padding:135px 0px 105px 0px;
        }
    }
    #single-wrapper {
        padding-bottom: 0;
    }
}

.social-share-list {
    margin-bottom: 20px;
}